{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3 mb-2 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a></h5>
                        <p class="card-text">{{ property.city }} {{ property.PostalCode }}</p>
                        <div class="text-primary">{{ property.FormattedPrice }} TND</div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}