{% extends 'base.html.twig' %}
{% block title 'Gérer les options' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gerer les options</h1>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>


            {% for option in options %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td>
                        <a href="{{ path('admin.option.edit',{id:option.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                        <form method="post" action="{{ path('admin.option.delete', {id:option.id}) }}"  style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur de supprimer l\'option ?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>

                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="text-right">
            <a href="{{ path('admin.option.new') }}" class="btn btn-primary">Créer une nouvelle option</a>

        </div>
    </div>

{% endblock %}